fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
pillow==10.1.0
pydantic==2.5.0
python-dotenv==1.0.0
aiofiles==23.2.1
requests==2.34.0
google-cloud-vision==3.14.0
pytesseract==0.3.13
uharfbuzz==0.54.1
freetype-py==2.5.1
